<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Creating LocalTime object using static factory method -->
    <bean id="time" 
          class="java.time.LocalTime" 
          factory-method="now"/>

    <!-- WishMessageGenerator bean with setter injection -->
    <bean id="wmg" 
          class="com.nt.sbeans.WishMessageGenerato">

        <property name="time" ref="time"/>

    </bean>

</beans>
